* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header h2 {
    color: #1B2830;
    font-size: .3em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    padding-right: 40px;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #F1EFE7;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after {
    transform: scaleX(1);
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    padding: 20px 100px;
    background: "backdrop.jpeg";
}


.wrapper .input-box {
    width: 91%;
    height: 20px;
    margin-bottom: 50px;
    margin-right: 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
    color: #fff;
    padding: 15px 15px 15px 15px;

}

.input-box input::placeholder {
    color: white;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: #fff;
    background: linear-gradient(to right, #8AAEBF, #B4D8EA);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #0F1C26;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    font-weight: 600;
}

/*display: inline-block;
width: 50%;
height: 40px;
background: #fff;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0, 0, 0, .1);
cursor: pointer;
font-size: 14px;
color: #0F1C26;
font-weight: 600;
background: linear-gradient(to right, #8AAEBF, #B4D8EA);*/

.two-forms {
    display: inline-block;
    vertical-align: top;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 91%;
}

.wrapper .two-formsv2 {
    display: inline-block;
    vertical-align: top;
    justify-content: space-between;
    display: flex;
    gap: 40px;
}


.wrapper .blood-forms select {
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
    padding: 15px 50px 17px 10px;
    /*for the borders inside*/
    color: white;
    width: 300px;

}

.wrapper .blood-forms option {
    /*for options inside the choice bar*/
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
    color: black;
}

.wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 430px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 20px 20px 20px 20px;
    padding-bottom: 220px;
    margin-top: 80px;
}

.wrapperInformation {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 530px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 20px 45px 20px 20px;
}

.about {
    width: 100;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    left: 700px;
}

.about h1 {
    font-size: 70px;
    margin-top: 80px;
    position: relative;
}

.about p {
    margin: 20px auto;
    font-size: 80;
    font-weight: 100;
    line-height: 25px;
}

#yourInformation h2 {
    font-size: 19px;
    color: white;
    align-items: center;
}

#rider_info p {
    font-size: 16px;
    color: white;
    margin-bottom: 35px;

}

#rider_info span {
    font-size: 16px;
    font-weight: normal;
    color: white;
    margin-bottom: 40px;

}

#about,
#theDevelopers,
#yourInformation,
#editDetailsForm {
    display: none;
}

#about {
    display: block;
    height: auto;
}

#editDetailsForm:target~#about,
#theDevelopers:target~#about,
#yourInformation:target~#about {
    display: none;
}

#theDevelopers:target,
#editDetailsForm:target,
#yourInformation:target {
    display: block;
}

.wrapper h2 {
    font-size: 19px;
    color: white;
    align-items: center;
}

#theDevelopers h1 {
    color: #172832;
}

#theimage {
    justify-content: center;
    width: 1440px;
    height: 740px;
    align-items: center;
    position: relative;
    top: 68px;
    z-index: -1;
    pointer-events: none;
}

@media only screen and (max-width: 375px) {
    body {
        background-position: -40px top;
        overflow-x: hidden;

    }

    header {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        font-size: 9px;
        margin-top: 80px;
        margin-left: 13px;
    }

    .about {
        display: flex;
        margin-top: 0px;
        left: 45px;

    }

    .about h1 {
        font-size: 45px;


    }

    .about p {
        font-size: 45;
        padding-right: 20px;
    }

    .wrapperInformation {
        display: flex;
        margin-left: 10px;
        align-items: center;
        width: 300px;
        padding-left: 20px;
        padding-right: 5px;
        height: auto;
        font-size: 9px;
        margin-top: 110px;
    }

    .wrapper {
        width: 350px;
        margin-top: 110px;
        font-size: 7px;
    }

    .wrapper .blood-forms select {

        width: 195px;

    }

    #theimage {
        margin-top: 110px;
        margin-left: 250px;
        width: 680px;
        height: 380px;
        margin-bottom: 300px;

    }
}